<mat-toolbar class="header-container mat-elevation-z4">

    <div class="span-logo">    
        <span>
            <a href="">
                <img class="logo-mg" src="assets\img\tree.jpg" alt="logo">
            </a>  
        </span> 
        <span>
            <a href="">
                Nome da logo
            </a>
        </span>
    </div>

    <div class="menu-itens">
        
        <a href="">Home</a>
    
        <a href="">About us</a>
        
        <a href="">Gallery</a>
        
        <a href="">Our impact</a>
    </div>
    

    <button mat-raised-button class="button-join">
        <a class="join-us" href="">Join us</a>

    </button>

</mat-toolbar>
