<mat-toolbar class="header-container mat-elevation-z4">

    <div class="span-logo">    
        <span (click)="goToInicial()">
            <a routerLink="">
                <img class="logo-img" src="assets\img\tree.jpg" alt="logo">
            </a>  
        </span> 
        <span (click)="goToInicial()">
            <a routerLink="">
                Nome da logo
            </a>
        </span>
    </div>

    <div class="menu-itens">
        
        <a routerLink="" (click)="goToInicial()">Home</a>
    
        <a routerLink="/about" (click)="goToInicial()">About us</a>
        
        <a routerLink="/gallery" (click)="goToInicial()">Gallery</a>
        
        <a routerLink="/impact" (click)="goToInicial()">Our impact</a>
    </div>

    <button routerLink="/cadastro" mat-raised-button class="button-join">
        <a class="join-us">Join us</a>
    </button>

    <button mat-raised-button class="login">
        Login
    </button>
</mat-toolbar>


