.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 120px;
    /* background-color: rgb(181, 231, 227); */
    background-color: #fff;
}
*{
    z-index: 3;
}
a {
    text-decoration: none;
}
.span-logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
}

.span-logo a{
    color: rgb(78, 143, 58);
}

.logo-img {
    height: 120px;
}

.menu-itens > a{
    font-size: 1rem;
    color: #000;
    padding: 0 20px 0 20px; 
}

.menu-itens a {
    font-family: 'Poppins', sans-serif; 
}

.menu-itens > a:hover{
    color: rgb(78, 143, 58);
    transition: 0.5s;
}

.button-join {
    border-radius: 20px;
    background-color: #000;
    margin-left: 80px; 
    padding: 5px 5px

}

.cadastrar-login {
    font-size: 12px;
    line-height: 15px;
    margin-left: 55px;
}

.cadastrar-login a, span, i {
    color: rgb(78, 143, 58);
}

.cadastrar-login a:hover {
    text-decoration: underline;
}
/* .button-join:hover  {
    background-color: rgb(78, 143, 58);
    transition: 0.5s; 
}

.button-join a{
    font-size: 1.2rem;
    color: #fff;
    padding: 10px 30px
}

.login{
    margin-left: 20px;
} */