<div class="fadeIn">
    <div class="content-img fadeIn">
    
        <div class="div1"></div>
    
        <div class="div2">
            <span>Preserve o meio ambiente</span><br>
            <span>Faça sua parte e entre em contato com um dos nossos centros de coleta</span>
        </div>
    
        <div class="button-div">
            <button class="button" routerLink="/gallery">
                Veja mais
            </button>
        </div>
    
        <div class="div3"></div>
    
    </div>
    
        <div class="how-works" id="how">
            <div class="texts" #teste>
                <span>Você faz a diferença!</span><br><br>
                <span>
                    O Coleta Fácil foi desenvolvido com o objetivo de facilitar o descarte do lixo reciclável pela populaçao, que não sabe ou conhece um local adequado, 
                    direcionando os interessados para depósitos cadastrados em nosso site, que receberão estes materias, fazendo a sua coleta e transformando em outros objetos 
                    que voltem a ser úteis no mercado. Você só precisa se cadastrar.
                </span>
    
            </div>
        </div>
        
        <div class="content-map">
            <div class="map">     
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                     <agm-marker [latitude]="latitude" [longitude]="longitude"> </agm-marker>
                </agm-map>
             </div>
         
             <div class="all-contacts">
                 <i class="fas fa-map-marked"></i>
                 <div class="contacts1">
                     <span>Rua da União, 398 - Boa Vista</span><br>
                     <span>Recife - PE</span><br> 
                     <span>Fone: +55 (81) 91234-5678</span>
                 </div>
                 
                 <i class="fas fa-phone"></i>
                 <div class="contacts2">
                     <span>+55(81)91234-5678</span><br>  
                     <span>coletafacil@coleta.com.br</span><br>  
                 </div>
     
             </div>
        </div>
        
</div>