<div class="fadeIn">
    <div class="content-img fadeIn">
    
        <div class="div1"></div>
    
        <div class="div2">
            <span>Non-profit organization</span><br>
            <span>Every charitable act is a stepping stone towards heaven</span>
        </div>
    
        <div class="button-div">
            <button class="button" (click)="goToTexts()">
                Show more
            </button>
        </div>
    
        <div class="div3"></div>
    
    </div>
    
        <div class="how-works">
            <div class="texts">
                <span>Você faz a diferença!</span><br><br>
                <span>
                    A "nome-da-empresa" veio para melhorar a sustentabilidade reciclando! <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo neque reiciendis deleniti veniam quod doloribus nisi id voluptate qui? Odio provident, earum blanditiis minima laudantium quo aliquam sint quas minus.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate velit commodi hic voluptas alias non animi laudantium necessitatibus illo, rem minima nobis temporibus ad sed, molestias earum? Officia, est quam.    
                </span>
    
            </div>
        </div>
        
        <div class="content-map">
            <div class="map">     
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                     <agm-marker [latitude]="latitude" [longitude]="longitude"> </agm-marker>
                </agm-map>
             </div>
         
             <div class="all-contacts">
                 <i class="fas fa-map-marked"></i>
                 <div class="contacts1">
                     <span>Avenida Alguma Coisa</span><br>
                     <span>Recife - PE</span><br> 
                     <span>Fone: +55 (81) 91234-5678</span>
                 </div>
                 
                 <i class="fas fa-phone"></i>
                 <div class="contacts2">
                     <span>+55(81)91234-5678</span><br>  
                     <span>algumacoisa@outlook.com</span><br>  
                 </div>
     
             </div>
        </div>
        
</div>

    
    
   
    