.body {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 60px;
    width: 600px;
}

.vertical h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 40px;
}