
span, h2, p, h3, h4, button {
    font-family: 'Poppins', sans-serif;
}

.cart {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 30px 0 60px 0;
    text-align: center;
  }

img {
    width: 90px;
    height: 80px;
}

.total {
    max-height: 150px;
    margin: 20px 0 0 20px;
    width: 20%;
}

.item {
    display: flex;
    margin-top: 20px;
    /* background-color: rgb(211, 228, 186); */
    width: 1000px;
}

.descript {
    margin-left: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-descript {
    display: flex;
}

.count {
    margin: 0 10px 0 10px;
}

.quant {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.pointer {
    cursor: pointer;
}

.total-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: end;
}

.removeItem {
    margin-top: 5px;
    display: flex;
    color: red;
    font-size: 0.8rem;
    cursor: pointer;
}

.align {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qtd {
    font-size: 0.8rem;
    text-align: center;
}

.fa-shopping-cart {
    margin-right: 10px;
}

.totalValue {
    position: absolute;
    bottom: 10;
}

.confirm {
    margin-top: 120px;
}

.confirm-bt {
    background-color: rgb(5, 90, 5);
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    height: 50px;
}

.confirm-bt:hover {
    background-color: rgb(12, 143, 12);
    transition: 0.6s;
}

.empty-cart {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.empty {
    display: flex;
    flex-direction: column;
}

.empty h4, .empty i  {
    font-size: 4rem;
}

.empty i {
    margin: 10px 0 40px 0;
    text-align: center;
}

.empty span {
    text-align: center;
}

.back-shop {
    margin-top: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif
}