<div class="body fadeIn">
    <div>
        <div class="text-title">
            <h2>Troque seus pontos acumulados</h2>
        </div>
    
        <div class="text-about-content">
            <div class="text-about">
                <span>
                    <p>
                    Ao participar do programa de reciclagem, a cada vez que seu lixo for coletado, você
                    ganhará pontos que podem ser trocados em diversos locais.
                    </p>
                    <p>
                        Lugares onde você consegue usar seus pontos:
                    </p>
                </span>
            </div>
        </div>
    
        <div class="cards1">
    
            <mat-card>
                <div class="group-content">
                    <i class="fas fa-theater-masks cardIcon"></i>
        
                    <div class="max-width">
                        <span>Áreas de lazer, como teatros, cinemas, parques de diversão e vários outros.</span>
                    </div>
                    <a href="" class="saiba-mais">Saiba mais</a>
                </div>
            </mat-card>
           
            <mat-card>
                <div class="group-content">
                    <i class="fas fa-utensils cardIcon"></i><br>
                    <div class="max-width">
                        <span>Restaurantes, lanchonetes, supermercados e vários outros.</span>
                    </div>
                    <a href="" class="saiba-mais">Saiba mais</a>
                </div>
            </mat-card>
            
            <mat-card>
                <div class="group-content">
                    <i class="fas fa-gas-pump cardIcon"></i><br>
                    <div class="max-width">
                        <span>Postos de gasolina, incluindo a loja de conveniência.</span>
                    </div>
                    <a href="" class="saiba-mais">Saiba mais</a>
                </div>
            </mat-card>
            
        </div>

        <div class="text-title">
            <h2>Você também pode trocar seus pontos na nossa loja virtual!</h2>
        </div>
    
        <div class="text-about-content">
            <div class="text-about">
                <span>
                    <p>
                    Vários dos itens disponíveis na nossa lojinha virtual, são feitos por pessoas que tem sua renda a partir da reciclagem.
                    Então são feitos de forma artesanal.
                    </p>
                    <p>
                        <strong><a routerLink="/shop">Confira nossa loja!</a></strong>
                    </p>
                </span>
            </div>
        </div>
    </div>
</div>
