p {
    margin-bottom: 0;
}
.text-title {
    padding-top: 60px;
    /* width: 100%; */
    margin-left: 20px;
    /* display: flex;
    justify-content: center; */
}

.text-title h2 {
    font-family: 'Patua One', cursive;
    color: rgb(78, 143, 58);
    font-size: 2rem;
}

.text-about-content{
    margin-top: 20px;
    margin-left: 20px;
}

.title-margin {
    margin-top: 50px;
}

.text-about span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    line-height: 35px;
}

span p {
    font-size: 0.9rem;
}

.cards1 {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 330px;
    justify-content: center;
    text-align: center;
}

.cards1 mat-card{
   margin-left: 40px;
}

.cards1 div i {
    color: rgb(78, 143, 58);
}

.cards1 div i{
    font-size: 3rem;
}

.card-text {
    margin-top: 130px;
}

.cardIcon {
    margin-top: 20px;
}

.max-widght {
    max-width: 250px;
}

.max-widght span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    color: rgb(38, 70, 28);;
   
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color: rgb(78, 143, 58);
}

.card {
    min-width: 200px;
}