<mat-toolbar class="footer-container">

    <span class="text">
        Made with <i class="fas fa-heart"></i>
       <br> © 2021 Designed by bootcamp team
    </span>

    <div class="content-center">

        <span class="informations">
            +55 (81) 91234-5678
            <br>Rua Fulano de tal
        </span>

        <a href="http://www.facebook.com" target="blank" class="fa fa-facebook"></a>

        <a href="http://www.instagram.com" target="blank" class="fa fa-instagram"></a>

        <a href="http://www.twitter.com" target="blank" class="fa fa-twitter"></a>

        <a href="http://www.google.com" target="blank" class="fa fa-google"></a>

    </div>
    
       

   

</mat-toolbar>