<mat-toolbar class="footer-container">  

    <span class="text">
        Made with <i class="fas fa-heart"></i>
       <br> © 2021 Designed by bootcamp team
    </span>

    <div class="content-center">

        <span class="informations">
            +55 (81) 91234-5678
            <br>Rua Fulano de tal
        </span>

        <a href="http://www.facebook.com" target="blank"><i class="fab fa-facebook"></i></a>

        <a href="http://www.instagram.com" target="blank"><i class="fab fa-instagram"></i></a>

        <a href="http://www.twitter.com" target="blank"><i class="fab fa-twitter"></i></a>

        <a href="http://www.google.com" target="blank"><i class="fab fa-google"></i></a>

    </div>
</mat-toolbar>