.body h2 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
    color: rgb(206, 202, 202);
}

.green {
    background-color: rgb(78, 143, 58);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}

.register-container button {
    color: #fff;
}

.register-container button:hover {
    background-color: rgb(34, 172, 46);
}

table {
    width: 80%;
}

table th {
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
}

.table-content  {
    display: flex;
    justify-content: center;
}

.edit {
    color: rgb(34, 172, 46);
}

.table-header {
    border-radius: 10px 10px 0 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: 40px;
    background-color: green;
}

.table-header span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    line-height: 40px;
    margin-left: 20px;
}

.sem-registro {
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: 40px;
    border: solid rgb(175, 171, 171) 1px;
}

.sem-registro span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #000;
    line-height: 40px;
    margin-left: 20px;
}

.align {
    text-align: center;
}

.red {
    margin-left: 5px;
    color: red;
}

.pointer {
    cursor: pointer;
}