<div class="body fadeIn">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 navbar">
				<a href="index.html" class="logo navbar-brand text-white offset-md-2">Logo</a>
				<ul class="nav">
					<li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Portfolio</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
				</ul>
			</div>

			<!-- slider banner	 -->

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			    	<div class="info">
			      		<h1>Centro de reciclagem</h1>
			      		<!-- <p>Juntos por um objetivo</p> -->
			      	</div>
			    </div>
			    <div class="carousel-item">
			    	<div class="info">
			      		<h1>Reciclagem é para todos</h1>
			      		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
			      	</div>
			    </div>
			    <div class="carousel-item">
			    	<div class="info">
			      		<h1>Faça sua parte</h1>
			      		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
			      	</div>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>

	<div class="videos-card">
		
			<mat-card class="card mat-elevation-z4 heigh">
				<mat-card-header>
				  <div mat-card-avatar class="card-header-image"></div>
				  <mat-card-title>Usina de reciclagem</mat-card-title>
				  <mat-card-subtitle>Recife, Pernambuco</mat-card-subtitle>
				</mat-card-header>
				<youtube-player class="player" 
				videoId="4vkUwa9UV7s" 
				suggestedQuality="highres" 
				[height]="300" 
				[width]="370" 
				[startSeconds]="4"
				[endSeconds]="8">
				</youtube-player>
				<mat-card-content class="texts-video">
				  <p>
					Entenda como funciona o sistema de reciclagem, cada etapa desse processo.
				  </p>
				</mat-card-content>
			  </mat-card>
			  
			  <mat-card class="card mat-elevation-z4 heigh">
				<mat-card-header>
				  <div mat-card-avatar class="card-header-image"></div>
				  <mat-card-title>Importancia da reciclagem</mat-card-title>
				  <mat-card-subtitle>Os 3 "R's"</mat-card-subtitle>
				</mat-card-header>
				<youtube-player class="player" 
				videoId="OQ5jpiKzNqg" 
				suggestedQuality="highres" 
				[height]="300" 
				[width]="370" 
				[startSeconds]="4"
				[endSeconds]="8">
				</youtube-player>
				<mat-card-content class="texts-video">
				  <p>
					O que é reciclagem e por quê ela é tão importante. Qual significa dos 3 "R's" ou "erres"?
				  </p>
				</mat-card-content>
			  </mat-card>

			  <mat-card class="card mat-elevation-z4 heigh">
				<mat-card-header>
				  <div mat-card-avatar class="card-header-image"></div>
				  <mat-card-title>Renda com a reciclagem</mat-card-title>
				  <mat-card-subtitle>Matéria SBT</mat-card-subtitle>
				</mat-card-header>
				<youtube-player class="player" 
				videoId="CT-Db1XeS34" 
				suggestedQuality="highres" 
				[height]="300" 
				[width]="370" 
				[startSeconds]="4"
				[endSeconds]="8">
				</youtube-player>
				<mat-card-content class="texts-video">
				  <p>
					Matéria explicando como a reciclagem é importante pra o ambiente e é a renda de muitas pessoas.
				  </p>
				</mat-card-content>
			  </mat-card>
			  
			  
		</div>

	
</div>
