* {
    font-family: 'Poppins', sans-serif;
}

.body h1 {
    margin-top: 60px;
    color: rgb(78, 143, 58);
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 30%;
    margin: 50px;
}

.card-content, .card {
    /* display: flex;
    flex-direction: row; */
    background-color: transparent;
    border-color: transparent;
}

.card h2 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.direction {
    display: flex;
    justify-content: center;
}

img {
    width: 570px;
    height: 450px;
    border: solid 2px;
    
}