.card {
    max-width: 250px;
    /* max-height: 200px; */
  }

h2 {
  margin: 30px 0 60px 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
  
.card img {
  margin-top: 20px;
  max-height: 250px !important;
}

.img-height {
  height: 250px;
}

.products {
  display: flex;
  justify-content: center;
}

mat-card {
  height: 450px;
  border-radius: 20px;
  min-width: 250px;
  margin-left: 50px;
}

.products mat-card {
  margin-left: 30px;
}

.mat-card>.mat-card-actions:last-child {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.buy {
  color: #fff;
  width: 92%;
  background-color: rgb(5, 90, 5);
}

.buy:hover {
  background-color: rgb(12, 143, 12);
  transition: 0.6s;
}

.price {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: absolute;
  bottom: 60px;
}

mat-card-content p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}