<div class="body fadeIn">

  <h2>Loja virtual</h2>

  <div class="products">

    <div *ngFor="let item of produtos">
      <mat-card class="card">

        <img mat-card-image class="img-height" src={{item.url}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{item.descricao}}
          </p>
        </mat-card-content>
        
        <mat-card-content class="price">
          <p class="green">
            <i class="fas fa-star green"></i>
            {{item.preco}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button class="buy"(click)="addCart(item)" [disabled]="loginAdm">COMPRAR <i class="fas fa-cart-plus"></i></button>
        </mat-card-actions>
        </mat-card>

        
    </div>

  </div>

</div>