
.side-color {
    background-color: rgb(15, 102, 22);
}
.width {
    width: 250px;
}

.body h2 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
    color: rgb(206, 202, 202);
}

.green {
    background-color: rgb(78, 143, 58);
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}

.register-container button {
    color: #fff;
    text-decoration: none;
}

.register-container button:hover {
    background-color: rgb(34, 172, 46);
}

mat-expansion-panel {
    background-color:rgb(15, 102, 22);
    margin-top: 20px;
}

mat-panel-title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.mat-expansion-indicator {
    color: #fff;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-expansion-panel-body {
    background-color: tomato !important;
}

.table-content  {
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
  }

table th {
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
}

.pointer {
    color: rgb(78, 143, 58);
    cursor: pointer;
}

.table-header {
    border-radius: 10px 10px 0 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: 40px;
    background-color: green;
}

.table-header span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    line-height: 40px;
    margin-left: 20px;
}

.sem-registro {
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: 40px;
    border: solid rgb(175, 171, 171) 1px;
}

.sem-registro span {
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #000;
    line-height: 40px;
    margin-left: 20px;
}

.align {
    text-align: center;
}