<div class="body fadeIn">

    <div class="text-title">
        <h2>O Green Peace é um serviço pensado na sustentabilidade</h2>
    </div>

    <div class="text-about-content">
        <div class="text-about">
            <span>
                Nossa atitude empresarial busca construir valor para a sociedade através da aliança de resultados 
                econômicos a benefícios sociais e ambientais, fundamentalmente por meio da união da articulação de 
                conteúdo de valor entre os diversos públicos com os quais nos relacionamos no constante desafio do 
                aperfeiçoamento de meios de instrução capazes de orientar nossa audiência no trato com objetos e serviços 
                consumidos, em um esforço contínuo de comunicação.
            </span>
        </div>
    </div>
    
    <div class="numbers">
        <div class="count1">
            <i class="fas fa-home"></i><br>

            <div class="max-widght">
                <span>São mais de <strong>300</strong> residências para fazer a diferença e aderir a causa</span>
            </div>
        </div>

        <div class="count2">
            <i class="fas fa-chart-line"></i><br>
            <div class="max-widght">
                <span>O número de toneladas de materiais reciclados aumentaram <strong>40%</strong></span>
            </div>
        </div>

        <div class="count3">
            <i class="fas fa-recycle"></i><br>
            <div class="max-widght">
                <span>Materiais reciclaveis são <strong>reutilizados</strong> para outros fins diminuindo o gasto com novos produtos</span>
            </div>
        </div>

    </div>

</div>