<div class="body fadeIn">

    <div class="text-title">
        <h2>O Coleta Fácil é um serviço pensado na sustentabilidade</h2>
    </div>

    <div class="text-about-content">
        <div class="text-about">
            <span>
                O Coleta Fácil surgiu em 2021, diante da pandemia mundial de Covid-19 que enfrentamos há praticamente um ano 
                e que desencadeou uma série de debates, dentre eles a reciclagem, com essa idéia de melhorar as condições de
                vida tanto de quem faz o recolhimento do lixo em nossas residências e facilitar para população achar um local 
                adequado para descartar o seu lixo. O Coleta Fácil tenta contribuir para reduzir a quantidade de lixo a ser enviado 
                aos aterros sanitários, o que poupa água e energia, diminui a poluição e preserva os recursos naturais. <br><br>
            </span>
        </div>
    </div>
    
    <div class="numbers">
        <div class="count1">
            <i class="fas fa-home"></i><br>

            <div class="max-widght">
                <span>São mais de <strong>300</strong> residências que fazem parte e aderiram a causa</span>
            </div>
        </div>

        <div class="count2">
            <i class="fas fa-chart-line"></i><br>
            <div class="max-widght">
                <span>O número de toneladas de materiais reciclados aumentaram <strong>40%</strong></span>
            </div>
        </div>

        <div class="count3">
            <i class="fas fa-recycle"></i><br>
            <div class="max-widght">
                <span>Materiais reciclaveis são <strong>reutilizados</strong> para outros fins diminuindo o gasto com novos produtos</span>
            </div>
        </div>

    </div>

    <div class="voce-sabia">
        <h2>Você sabia?</h2>
    </div>

    <article>
        <ul>
            <li>Atualmente, em nível global, 33% dos alimentos comestíveis são desperdiçados</li>
            <li>O Brasil perde R$ 14 bilhões por ano com a falta de reciclagem adequada do lixo.</li>
            <li>Por ano, são gerados quase 80 milhões de toneladas de lixo, mas apenas 4% são reciclados.</li>
            <li>Cerca de 40% de todo o lixo produzido no Brasil acaba despejado em locais inadequados.</li>
        </ul>
    </article>

</div>