/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body { 
    height: 100%; 

}
body { 
    margin: 0; 
    font-family: Cambria, "Helvetica Neue", sans-serif; 
    background-color: rgb(241, 238, 238);
}

a {
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    max-width: 100%; 
    /* overflow-x: hidden; */
}
 
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.success {
  color: #fff;
  background-color: green;
}

.success .mat-simple-snackbar-action  {
  color: #fff;
}

.error {
    color: #fff;
    background-color: rgb(148, 12, 12);
}

.error .mat-simple-snackbar-action  {
    color: #fff;
}

